#downloads div[role="main"] {
  h3 {
    padding-left: 0.3em;
    padding-bottom: 0.3em;
  }
  p.install_instruction {
    margin-top:4px;
    font-size:80%;
    //padding-left:1em;
    //padding-right:1em;
    text-align:right;
  }
  table {
    width:100%;
    td.arch{
      width:20%;
    }
    td.link {
      width:60%;
    }
    td.size {
      width:15%;
    }
    tr {
      h4 {
        padding-top: 5;
      }
    }
    /*
    td.checksum {
      width:2em;
      text-align:center;
      a {
        &[href^="http://"], &[href^="https://"] {
          background:none;
          padding-right: 0;
        }
        img {
          max-width: 18px;
          &:hover {
            @include boxShadow(0 0 6px #f99d33 /* $orange */)
          }
        }
      }
    }
    */
  }
}

#downloads {
  table {
    a {
      &[href^="http"], &[href^="https"] {
        padding-right: 0px;
        background: none;
      }
    }
  }
}
