/**
 * Direct link to Downloads. Shaped like a button.
 */
.downloads-btn {

  //TODO: This is an expensive selector. Consider making a class for it.
  //TODO: Make this CSS reactive somehow?
  a {
    background-color: $orange;
    color: $white;
    @extend %sans-bold;

    height: 100%;
    width:  100%;
    padding: 0.3rem 0.2rem;
    border-radius: 0.3rem;

    cursor: pointer;
  }

  @include when-inside('.banner') {
    @include pos-relative-vertical-align;
  }
}